#experience {
    background-color: mediumaquamarine;
    color: white;
    font-size: 15;
}

#contact {
     background-color: mediumaquamarine;
    color: white;
    font-size: 15;
}

body{
  background-color: cadetblue;
}
